.container {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: center;
}

.titleInput {
    max-width: 500px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
