.slideListContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: #111;
  border: 1px solid #333;
}

.slideListHeader {
  padding: 16px;
  background: #222;
  text-align: center;
}

.slideListTitle {
  font-size: 16px;
  color: #eee;
}

.slideList {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  overflow-y: auto;
}

.slideList::-webkit-scrollbar {
  width: 6px;
}

.slideList::-webkit-scrollbar-thumb {
  background: #444;
}

.multipleSelectionBadge {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #007acc;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    z-index: 10;
}