.slideItem {
  padding: 12px;
  border-radius: 10px;
  cursor: grab;
  background: #1a1a1a;
  border: 1px solid #333;
  color: #ddd;
}

.slideItem:hover {
  background: #222;
}

.slideItem:active {
  cursor: grabbing;
}

.activeSlide {
  background: #333;
  border-color: #555;
}

.slidePreview {
  width: 100%;
  height: 120px;
  background: #000;
}

.multipleSelectionBadge {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #007acc;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    z-index: 10;
}