.input {
  width: 100%;
  padding: 10px 4px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #444;
  color: #ddd;
  font-size: 15px;
  outline: none;
}

.input::placeholder {
  color: #666;
}

.input:hover {
  border-bottom-color: #777;
}

.input:focus {
  border-bottom-color: #aaa;
}

.input:disabled {
  opacity: 0.5;
}
