.button {
  padding: 10px 14px;
  margin: 6px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 600;
  transition: background 0.2s ease;
}

.button:hover:not(:disabled) {
  background: #e05e00;
}

.button:active:not(:disabled) {
  background: #c04d00;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.iconButton {
  min-width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff6f00;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background 0.2s;
}

.iconButton:hover {
  background: #e05e00;
}

.icon {
  width: 24px;
  height: 24px;
  filter: invert(1); 
}