.container {
  position: absolute;
}

.containerSelected {
  border: 2px solid #666;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.cursorPointer { 
  cursor: pointer;
 }
.cursorGrabbing { 
  cursor: grabbing;
 }
