.container {
  position: absolute;
  box-sizing: border-box;
}

.containerSelected {
  border: 2px solid #468fdeff;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  display: block;
}

.cursorPointer {
  cursor: pointer;
}

.cursorGrabbing {
  cursor: grabbing;
}