body {
  background: #0d0d0d;
  color: #eee;
  font-family: sans-serif;
  overflow: hidden;

}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #0d0d0d;
  overflow: hidden;
}

.mainContainer {
  display: flex;
  flex: 1;
  gap: 12px;
  padding: 12px;
}
