.textContent {
  display: flex;
  align-items: center;
  color: #ddd;
  background: transparent;
}

.textContentLeft { justify-content: flex-start; }
.textContentCenter { justify-content: center; }
.textContentRight { justify-content: flex-end; }

.cursorPointer { cursor: pointer; }
.cursorGrabbing { cursor: grabbing; }

.containerSelected {
  border: 2px solid #666;
}
