.container {
    position: absolute;
    box-sizing: border-box;
}

.containerSelected {
    border: 3px solid #eeb4eb;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    user-select: none;
    display: block;
}

.cursorPointer {
    cursor: pointer;
}

.cursorGrabbing {
    cursor: grabbing;
}