@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:wght@300;400;500;600;700&family=Manrope:wght@300;400;500;600;700&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Geologica', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(120deg, #B784A7, #fff0d0);
    background-size: 300% 300%;
    color: white;
}

.toolbar {
  position: 'relative'; 
  z-index: 1000;
}

.mainContainer {
  display: flex;
  flex: 1;
  padding: 12px;
  gap: 12px;
  overflow: hidden; 
  min-height: 0
}

@media (max-width: 1024px) {
  .mainContainer {
    padding: 12px;
    gap: 12px;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    padding: 8px;
    gap: 8px;
  }
}